.buzzer {
    display: flex;
    width: 100%;

    button.buzzer-btn {
        background-color: #BBBBBB; // 重置按钮背景色
        width: 100%; // 按钮宽度
        height: 20vw; // 按钮高度
        color: rgb(255, 111, 111);
        border-radius: 2vw;
        border: none;
        margin: 3vw 1vw 1vw 1vw; // 顶部外边距

        .gg-volume {
            box-sizing: border-box;
            position: relative;
            display: block;
            transform: scale(var(--ggs, 1));
            width: 8vw;
            height: 8vw;
            border: 2vw solid;
            border-right: 0;
            perspective: 12vw;
            border-top-left-radius: 4vw;
            border-bottom-left-radius: 4vw;
            transform: translate(430% , 0);

            &::after,
            &::before {
                content: "";
                display: block;
                box-sizing: border-box;
                position: absolute;
            }

            &::before {
                left: 2vw;
                transform: rotateY(-90deg);
                width: 10vw;
                height: 10vw;
                border: 2vw solid;
                border-left: 0;
                top: -3vw;
            }

            &::after {
                width: 8vw;
                height: 16vw;
                border: 6vw double;
                border-left: 0;
                border-top-right-radius: 100vw;
                border-bottom-right-radius: 100vw;
                right: -14vw;
                top: -6vw;
            }
        }
    }
}