.scoreboard {
    display: flex;
    justify-content: space-between;
    margin: 0; // 记分板上下外边距
    width: 100%; // 让记分板宽度充满容器

    .team {
        width: 49%; // 让主队和客队宽度相等
        background-color: #ff6b6b; // 默认背景颜色，可以通过类名更改
        color: white;
        border-radius: 2vw;
        margin: 1vw;
        // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;

        &.GUEST {
            background-color: #ff6b6b; // 主队颜色
        }

        &.HOME {
            background-color: #4c9aff; // 客队颜色
        }

        h2 {
            font-size: 25vw; // 得分的字体大小
            margin: 0; // 分数和按钮之间的空间
        }

        .score-buttons {
            display: flex;
            justify-content: center;

            button {
                flex: 1;
                margin: 0; // 按钮之间的间隔
                padding: 0; // 垂直内边距
                font-size: 10vw; // 按钮内文字大小
                background: #b6b6b6; // 按钮背景颜色
                color: #ffffff; // 按钮文字颜色
                border: 0; // 按钮边框

                &:first-child {
                    margin-left: 0;
                    border-radius: 0 0 0 2vw;
                }

                &:last-child {
                    margin-right: 0;
                    border-radius: 0 0 2vw 0;
                }

                &:disabled {
                    color: #c5c5c5;
                    background: #979797;
                }

                // 禁用状态的按钮背景
            }
        }
    }
}

.reset-score {
    display: flex;
    width: 100%; // 让重置按钮宽度充满容器
    
    button.reset {
        background-color: #BBBBBB; // 重置按钮背景色
        width: 100%; // 按钮宽度
        color: white;
        padding: 2vw 2vw;
        font-size: 3vw;
        border-radius: 2vw;
        border: none;
        margin: 0 1vw 1vw 1vw; // 顶部外边距
        display: flex;
        justify-content: center; // 水平居中
        align-items: center; // 垂直居中
    }
}