<div class="timer">
  <div class="shot-clock">
    <button (click)="resetShotClock(24)" class="time-setter">24</button>
    <h1>{{ shotClock | padNumber}}</h1>
    <button (click)="resetShotClock(14)" class="time-setter">14</button>
  </div>
  <div class="control-buttons">
    <button (click)="startShotClock()" class="control start"></button>
    <button (click)="pauseShotClock()" class="control pause"></button>
    <button (click)="resetShotClock(0)" class="control reset"></button>
  </div>
  <div class="range-slider">
    <input type="range" id="shotClockRange" min="0" max="24" value="0" step="0.01" [(ngModel)]="shotClockRangeValue" />
    <button (click)="resetShotClock(shotClockRangeValue)">{{shotClockRangeValue}}</button>
  </div>
  <select name="countDownLanguage" id="countDownLanguage" [(ngModel)]="currentLanguage" (change)="onLanguageChange()">
    <option *ngFor="let currentLanguage of countDownLanguage" [value]="currentLanguage.value">{{currentLanguage.viewValue}}</option>
  </select>
</div>




<!-- <div class="timer">
  <div class="shot-clock">
    <button (click)="resetShotClock(24)">24</button>
    <h1>{{shotClock}}</h1>
    <button (click)="resetShotClock(14)">14</button>
    <button (click)="pauseShotClock()">Pause</button>
    <button (click)="startShotClock()">Start</button>
    <button (click)="resetShotClock(0)">Reset</button>
    
    <button (click)="resetShotClock(shotClockRangeValue)">{{shotClockRangeValue}}</button>
    <input type="range" id="shotClockRange" min="0" max="24" value="0" step="0.01" [(ngModel)]="shotClockRangeValue" />
  </div>
  <select name="countDownLanguage" id="countDownLanguage" [(ngModel)]="countDownLanguage" (change)="onLanguageChange()">
    <option value="ch" selected>中文</option>
    <option value="hk">客語</option>
    <option value="en">English</option>
  </select>
</div> -->